<!doctype html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>LV4</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">

  <link href="../../static/style.css" rel="stylesheet">
</head>

<body>

<nav>
  <a href="/"><img class="logo" src="../../static/logo.png"></a>
  <div>
    <input placeholder="Поиск" class="main-search">
  </div>
  <div>
    <a class="button mobile-hide">
      Опубликовать статью
    </a>
    <button class="round mobile-hide">
      <span style="border-radius:2em;margin:0 0.1em" class="fi fi-ru fis"></span>
    </button>
    <button class="mobile-show" onclick="let el = document.querySelector('aside'); el.classList.toggle('mobile-hide')">
      Меню
    </button>
  </div>
</nav>

<aside class="mobile-hide">
  <a class="button mobile-show">
    Опубликовать статью
  </a>
  <ol>
    <li>Статьи редакции</li>
    <li class="disabled">Статьи одобренные редакцией</li>
    <li>
      <details open>
        <summary>Все публикации</summary>
        <ol>
          <li>Марксизм</li>
          <li>Ленинизм</li>
          <li>Сталинизм</li>
        </ol>
      </details>
    </li>
    <li>Песочница</li>
  </ol>
  <div style="flex-grow:1"></div>
  <ol class="links">
    <li>О проекте</li>
    <li>Справки</li>
    <li>Правила</li>
    <li>Помощь проекту</li>
    <li>Администрация</li>
    <li class="mobile-show">
      Язык
        <span class="fi fi-ru fis"></span>
    </li>
  </ol>
</aside>





<main>


<figure>
  <figcaption>
    Превьюшка поста
  </figcaption>
  <img src="../../static/missing-image.svg">
  <section>
    Контент с <b><i>маркдауном</i></b>
  </section>
  <section style="text-align: center;">
    <a class="button" href="#">Читать далее...</a>
  </section>
  <section>

    <div class="flex duo">
      <div>
        <button class="social active">
          <img class="views-svg" src="../../static/views.svg">
          <span>4</span>
        </button>
        <button class="social">
          <img class="comment-svg" src="../../static/comment.svg">
          <span>45</span>
        </button>
        <button class="social active">
          <img class="repost-svg" src="../../static/repost.svg">
        </button>
      </div>
      <div>
        <button class="social">
          <img class="like-svg" src="../../static/like.svg">
          <span>22</span>
        </button>
        <button class="social active">
          <img class="dislike-svg" src="../../static/dislike.svg">
          <span>35</span>
        </button>
      </div>
    </div>

  </section>
</figure>






<figure>
  <figcaption>
    Полный пост
  </figcaption>
  <img src="../../static/missing-image.svg">
  <section>
    Контент с <b><i>маркдауном</i></b>
  </section>
  <section style="color:#2F88F0">
    #хештеги#типа#тут
  </section>
  <section class="flex duo">
    <div style="display: flex; align-items: center;">
      <img style="height: 1.5em; margin-right: 0.5em;" src="../../static/status-green.svg">
      Одобрено редакцией
    </div>
    <div class="disabled" style="display: flex; align-items: center;">
      10:36 19.09.2022
    </div>
  </section>
  <section>
    <div class="flex duo">
      <div>
        <button class="social active">
          <img class="views-svg" src="../../static/views.svg">
          <span>4</span>
        </button>
        <button class="social">
          <img class="comment-svg" src="../../static/comment.svg">
          <span>45</span>
        </button>
        <button class="social active">
          <img class="repost-svg" src="../../static/repost.svg">
        </button>
      </div>
      <div>
        <button class="social">
          <img class="like-svg" src="../../static/like.svg">
          <span>22</span>
        </button>
        <button class="social active">
          <img class="dislike-svg" src="../../static/dislike.svg">
          <span>35</span>
        </button>
      </div>
    </div>
  </section>
  <section>
    2 комментария
  </section>
  <section class="write-comment" id="reply">
    <form>
      <textarea placeholder="Написать комментарий..."></textarea>
      <input name="reply_to" hidden value="">
      <div class="flex duo">
        <div>
          <img src="../../static/attach-file.svg">
          <img src="../../static/attach-image.svg">
        </div>
        <div>
          <button class="post-comment">Отправить</button>
        </div>
      </div>
    </form>
  </section>
  <section class="comments">
    <div class="comment">
      <div class="flex duo">
        <div class="info flex">
          <div>#0000001</div>
          <div title="11:36 19.09.2022" class="datetime">11:36 19.09.2022</div>
        </div>
        <div class="flex">
          <button class="social">
            <img class="like-svg" src="../../static/like.svg">
            <span>12</span>
          </button>
          <button class="social active">
            <img class="dislike-svg" src="../../static/dislike.svg">
            <span>67</span>
          </button>
        </div>
      </div>
      <div class="content">
        Коммент, тоже с <b><i>маркдауном</i></b>
      </div>
      <div class="actions flex">
        <div>Ответить</div>
        <div>Пожаловаться</div>
      </div>
      <div class="comments">
        <div class="reply">

          <div class="comment">
            <div class="flex duo">
              <div class="info flex">
                <div>#0000001</div>
                <div title="11:36 19.09.2022" class="datetime">11:36 19.09.2022</div>
              </div>
              <div class="flex">
                <button class="social">
                  <img class="like-svg" src="../../static/like.svg">
                  <span>12</span>
                </button>
                <button class="social active">
                  <img class="dislike-svg" src="../../static/dislike.svg">
                  <span>67</span>
                </button>
              </div>
            </div>
            <div class="content">
              Коммент, тоже с <b><i>маркдауном</i></b>
            </div>
            <div class="actions flex">
              <div>Ответить</div>
              <div>Пожаловаться</div>
            </div>
            <div class="comments">
              <div class="reply">
      
                <div class="comment">
                  <div class="flex duo">
                    <div class="info flex">
                      <div>#0000001</div>
                      <div title="11:36 19.09.2022" class="datetime">11:36 19.09.2022</div>
                    </div>
                    <div class="flex">
                      <button class="social">
                        <img class="like-svg" src="../../static/like.svg">
                        <span>12</span>
                      </button>
                      <button class="social active">
                        <img class="dislike-svg" src="../../static/dislike.svg">
                        <span>67</span>
                      </button>
                    </div>
                  </div>
                  <div class="content">
                    Коммент, тоже с <b><i>маркдауном</i></b>
                  </div>
                  <div class="actions flex">
                    <div>Ответить</div>
                    <div>Пожаловаться</div>
                  </div>
                  <div class="comments">
                  </div>
                </div>
      
      
              </div>
            </div>
          </div>


        </div>

        
        <div class="reply">

          <div class="comment">
            <div class="flex duo">
              <div class="info flex">
                <div>#0000001</div>
                <div title="11:36 19.09.2022" class="datetime">11:36 19.09.2022</div>
              </div>
              <div class="flex">
                <button class="social">
                  <img class="like-svg" src="../../static/like.svg">
                  <span>12</span>
                </button>
                <button class="social active">
                  <img class="dislike-svg" src="../../static/dislike.svg">
                  <span>67</span>
                </button>
              </div>
            </div>
            <div class="content">
              Коммент, тоже с <b><i>маркдауном</i></b>
            </div>
            <div class="actions flex">
              <div>Ответить</div>
              <div>Пожаловаться</div>
            </div>
            <div class="comments">
            </div>
          </div>


          
        </div>

        <div class="reply">

          <div class="comment">
            <div class="flex duo">
              <div class="info flex">
                <div>#0000001</div>
                <div title="11:36 19.09.2022" class="datetime">11:36 19.09.2022</div>
              </div>
              <div class="flex">
                <button class="social">
                  <img class="like-svg" src="../../static/like.svg">
                  <span>12</span>
                </button>
                <button class="social active">
                  <img class="dislike-svg" src="../../static/dislike.svg">
                  <span>67</span>
                </button>
              </div>
            </div>
            <div class="content">
              Коммент, тоже с <b><i>маркдауном</i></b>
            </div>
            <div class="actions flex">
              <div>Ответить</div>
              <div>Пожаловаться</div>
            </div>
            <div class="comments">
            </div>
          </div>


          
        </div>

      </div>
    </div>



    <div class="comment">
      <div class="flex duo">
        <div class="info flex">
          <div>#0000001</div>
          <div title="11:36 19.09.2022" class="datetime">11:36 19.09.2022</div>
        </div>
        <div class="flex">
          <button class="social">
            <img class="like-svg" src="../../static/like.svg">
            <span>12</span>
          </button>
          <button class="social active">
            <img class="dislike-svg" src="../../static/dislike.svg">
            <span>67</span>
          </button>
        </div>
      </div>
      <div class="content">
        Коммент, тоже с <b><i>маркдауном</i></b>
      </div>
      <div class="actions flex">
        <div>Ответить</div>
        <div>Пожаловаться</div>
      </div>
      <div class="comments">
      </div>
    </div>


  </section>
</figure>





</main>




<script>
  var textareas = document.getElementsByTagName('textarea');
  function onTextareaInput() {
    this.style.height = 0;
    this.style.height = (this.scrollHeight) + 'px';
  }
  for (var i = 0; i < textareas.length; i++) {
    textareas[i].setAttribute('style', 'height:' + (textareas[i].scrollHeight) + 'px;overflow-y:hidden;');
    textareas[i].addEventListener('input', onTextareaInput, false);
    onTextareaInput.call(textareas[i]);
  }
</script>

</body>

</html>

