.nav {
  background: var(--nav-background);
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  z-index: 2;
  box-shadow: 0 0 10px 2px #00000044;
  backdrop-filter: blur(20px);
}

.nav > * {
  display: flex;
  align-items: center;
  flex: 1;
}

.nav > :not(:first-child):not(:last-child) { justify-content: center; }
.nav > :last-child { justify-content: end; }

.nav > * > * {
  margin: 0 0.5rem;
}

.nav > form {
  border-radius: 1000rem;
  background: var(--element-background);
  padding: 0.2em 0.4em 0.2em  1em ;
  display: flex;
  align-items: center;
}

.nav > form > * {
  margin: 0;
}

.nav > form > .search {
  outline: none;
  flex: 1;
}
.nav > form > .searchClear {
  display: flex;
  align-items: center;
}

.nav .button {
  background: var(--secondary-background);
}

@media (max-width: 1200px) {
  .nav {
    font-size: 1.25rem;
  }
  .logo {
    height: 5rem;
  }
}

@media (max-width: 1000px) {
  .nav {
    font-size: 1rem;
  }
  .logo {
    height: 4rem;
  }
}

@media (max-width: 850px) {
  img.logo {
    height: 3rem;
  }
  .nav .search {
    width: 100%;
  }
}