.social {
  background: unset;
  color: unset;
  padding: 0.2em;
  box-shadow: none;
  cursor: pointer;
}

img.likeSvg {
  width:1.24em;
  margin-top:-0.5em;
}

img.dislikeSvg {
  width:1.24em;
  margin-bottom:-0.375em;
}

img.viewsSvg,
img.commentSvg {
  width:1.6em;margin-top:-0.3em;
}

img.repostSvg {
  width:1em;
  margin-top:-0.3em;
}

img.copySvg {
  width: 1em;
  margin: 0.4em;
}