/* ================================ Imports ================================= */

@import url(/static/github-markdown-dark.css) (prefers-color-scheme: dark);
@import url(/static/github-markdown.css) (prefers-color-scheme: light);

/* ============================= Generic reset ============================== */

/* Box sizing rules */
* { box-sizing: border-box }

/* Remove default padding */
ul, ol { padding: 0 }

/* Remove default margin */
body, h1, h2, h3, h4, p, ul, ol, li, figure,
figcaption, blockquote, dl, dd { margin: 0 }

/* Make body (and app) like in html 4 */
body, html, #app { min-height: 100% }

/* Make images easier to work with */
img { max-width: 100% }

/* Why does canvas even have focus?.. */
canvas:focus { outline: none }

/* Inherit fonts for inputs and buttons */
input, button, textarea, select {
  font: inherit;
  color: inherit;
  background: inherit;
  min-width: 0;
}

/* Lighten up the default tabindex outline */
*:focus { outline-color: rgba(0,0,0,0.2) }

/* Remove animations and transitions for people who prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}



/* ============================= Generic things ============================= */

input, button, textarea, select {
  appearance: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

textarea {
  width: 100%;
  resize: none;
}

textarea::placeholder, input::placeholder {
  color: var(--input-placeholder);
}

/* ============================= Colors styles ============================== */

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    color: #D4D4D4;
    --page-background: #333333;
    --nav-background: #252526;
    --primary-background: #007ACC;
    --input-placeholder: #A6A6A6;
    --secondary-background: #007ACC;
    --primary-accent: #179FFF;
    --element-background: #1E1E1E;
    --highlight-background: #252526;
    --highlight-color: #D9D9D9;
    --comment-indent-line-color: #333333;
    --text-inverted: white;
    --disabled-color: #8C8C8C;
    --comment-datetime: #8C8C8C;
    
  }
  .social:not(.active) {
    filter: brightness(100);
  }
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
    --page-background: #f1f4ff;
    --nav-background: #54a9f8;
    --primary-background: #54a9f8;
    --input-placeholder: #898989;
    --secondary-background: #A8D4FC;
    --primary-accent: #2f88f0;
    --element-background: white;
    --highlight-background: #D9D9D9;
    --highlight-color: #9E9E9E;
    --comment-indent-line-color: #9E9E9E;
    --text-inverted: white;
    --disabled-color: #a6a6a7;
    --comment-datetime: #797979;
  }
  .social:not(.active) {
    filter: brightness(0);
  }
}

/* ============================= Custom styles ============================== */

html, body {
  background: var(--page-background);
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 16px;
}

nav {
  background: var(--nav-background);
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  z-index: 2;
}

nav > * {
  display: flex;
  align-items: center;
  flex: 1;
}

nav > :not(:first-child):not(:last-child) { justify-content: center; }
nav > :last-child { justify-content: end; }

.flex {
  display: flex;
}
.flex > * {
  align-items: center;
}

.flex.duo > :last-child {
  margin-left: auto;
}

nav > * > * {
  margin: 0 0.5rem;
}

nav button, nav .button {
  background: var(--secondary-background);
}

*[id] {
  scroll-margin-top: 6rem;
}

aside {
  background: var(--page-background);
  padding-left: 5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  position: fixed;
  width: 23%;
  bottom: 0;
  top: 100px;
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  overflow: auto;
  z-index: 1;
}

aside li, aside summary {
  margin-bottom: 0.9rem;
}

aside > ol {
  font-weight: 700;
}

aside > ol > li > details {
  font-weight: 500;
  font-size: 1rem;
}

aside ol {
  list-style: none;
}

aside ol ol {
  margin-left: 3rem;
}

aside > ol.links {
  font-weight: 500;
  font-size: 1rem;
}

aside > ol.links a {
  color: var(--primary-accent);
}


summary {
  list-style: none;
  color: var(--primary-accent);
}
details > summary::after {
  content: '▸';
  font-size: 2em;
  display: inline-block;
  position: absolute;
  line-height: 0.8em;
}
details[open] > summary::after {
  content: '▾';
}

input.search {
  border-radius: 1000rem;
  background: var(--element-background);
  padding: 0.2em 1em;
  outline: none;
}

button, .button {
  border-radius: 1000rem;
  background: var(--primary-background);
  color: var(--text-inverted);
  padding: 0.2em 1em;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  display: inline-block;
  width: max-content;
}

a.button {
  text-decoration: none;
}

a.clear {
  text-decoration: none;
  color: inherit;
}

.social {
  background: unset;
  color: unset;
  padding: 0.2em;
  box-shadow: none;
}
.social.active {
  color: var(--primary-accent);
}

button.round, .button.round {
  padding: 0.2em;
}

.highlight {
  background: var(--highlight-background);
  border-radius: 1em;
  padding: 0.4em 0.5em;
}

figure.post {
  font-size: 1.5rem;
  background: var(--element-background);
  border-radius: 1rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
  padding: 0.8em 0;
}

figure.post > figcaption, figure.post > section {
  padding: 0 2.25rem;
}

figure.post > figcaption {
  font-size: 2rem;
}

figure.post.preview > figcaption {
  font-size: 1.5rem;
}

figure.post > img {
  margin: 0 auto;
  display: block;
}

figure.post > img, figure.post > section {
  margin-top: 0.8em;
}

figure.post .write-comment {
  background: var(--highlight-background);
  border-radius: 1em;

  margin-left:    1.5em;
  margin-right:   1.5em;

  padding-left:   1.5em;
  padding-right:  0.4em;
  padding-top:    0.8em;
  padding-bottom: 0.4em;
}

figure.post .write-comment textarea {
  margin-right: 1.1em;
  margin-bottom: 0.8em;
}

figure.post .write-comment button.post-comment {
  font-size: 1.25rem;
  background: var(--primary-accent);
  box-shadow: none;
}

figure.post .comment > .write-comment {
  margin: 0;
  font-size: 1.25rem;
}

figure.post > .highlight {
  background: none;
}

figure.post section.comments {
  padding-left: 0;
}
figure.post section.comments .comment {
  padding-left: 1.5em;
  position: relative;
}
figure.post section.comments .comment > :not(:first-child) {
  margin-top: 0.8em;
}
figure.post section.comments .comment > .actions{
  margin-bottom: 2em;
}
figure.post section.comments .comment .info {
  overflow: hidden;
}
figure.post section.comments .comment .info > * {
  margin-right: 1.5em;
}
figure.post section.comments .comment .datetime {
  color: var(--comment-datetime);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
figure.post section.comments .comment .social {
  flex-shrink: 0;
}

figure.post section.comments .comment .content {
  font-size: 1.25rem;
}

figure.post section.comments .comment .actions > * {
  margin-right: 1.5em;
  font-size: 1.25rem;
  color: var(--highlight-color);
}

figure.post section.comments .comment .reply {
  position: relative;
  padding-left: 0.5em;
}

figure.post section.comments .comment .reply::before {
  content: '';
  width: 1.5em;
  height: 1.6em;
  top: -1em;
  left: 0;
  position: absolute;
  border-bottom-left-radius: 1em;
  border-bottom: 0.15em solid var(--comment-indent-line-color);
  border-left: 0.15em solid var(--comment-indent-line-color);
}

figure.post section.comments .comment .reply:not(:last-child)::after {
  content: '';
  width: 1.5em;
  top: 1em;
  left: 0;
  bottom: -1em;
  position: absolute;
  border-left: 0.15em solid var(--comment-indent-line-color);
}

figure.post section.tags {
  color: var(--primary-accent);
}


main {
  max-width: 946px;
  margin: 0 auto;
  padding-top: 1.3rem;
}


main > * {
  margin-bottom: 2rem;
}

.disabled {
  color: var(--disabled-color);
}


img.like-svg {
  width:1.24em;
  margin-top:-0.5em;
}

img.dislike-svg {
  width:1.24em;
  margin-bottom:-0.375em;
}

img.views-svg,
img.comment-svg {
  width:1.6em;margin-top:-0.3em;
}

img.repost-svg {
  width:1em;
  margin-top:-0.3em;
}

img.copy-svg {
  width: 1em;
  margin: 0.4em;
}

.copyable-button {
  display: inline-flex;
  margin-left: 0.5em;
}

.long-link {
  word-break:break-all;
  font-size:small;
  display:block;
  line-height:1.4em;
}


.rainbow {
  animation: rainbow-bg 10s linear;
  animation-iteration-count: infinite;
}

@keyframes rainbow-bg{
  100%,0% { background: rgb(255,0,0) }
  8%  { background: rgb(255,127,0) }
  16% { background: rgb(255,255,0) }
  25% { background: rgb(127,255,0) }
  33% { background: rgb(0,255,0) }
  41% { background: rgb(0,255,127) }
  50% { background: rgb(0,255,255) }
  58% { background: rgb(0,127,255) }
  66% { background: rgb(0,0,255) }
  75% { background: rgb(127,0,255) }
  83% { background: rgb(255,0,255) }
  91% { background: rgb(255,0,127) }
}


@media (max-width: 1800px) {
  main {
    max-width: 946px;
  }
  aside {
    width: 20%;
    padding-left: 4rem;
  }
}


@media (max-width: 1600px) {
  main {
    max-width: 820px;
  }
  aside {
    width: 20%;
    padding-left: 3rem;
  }
}


@media (max-width: 1400px) {
  main {
    max-width: 700px;
  }
  aside {
    font-size: 1rem;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  aside li, aside summary {
    margin-bottom: 0.6rem;
  }
  aside ol ol {
    margin-left: 2rem;
  }
}


@media (max-width: 1200px) {
  main {
    max-width: 590px;
  }
  aside {
    font-size: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  aside ol ol {
    margin-left: 1rem;
  }
  nav {
    font-size: 1.25rem;
  }
  figure.post {
    font-size: 1.25rem;
  }
  img.logo {
    height: 5rem;
  }
}



@media (max-width: 1000px) {
  main {
    max-width: 500px;
  }
  nav {
    font-size: 1rem;
  }
  figure.post {
    font-size: 1rem;
  }
  img.logo {
    height: 4rem;
  }
}


@media (max-width: 850px) {
  main {
    padding: 0.5rem;
  }
  aside {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    top: 0;
    padding-top: 4rem;
  }
  img.logo {
    height: 3rem;
  }
  nav input {
    width: 100%;
  }
}

@media (min-width: 851px) {
  .mobile-show { display: none }
}

@media (max-width: 850px) {
  .mobile-hide { display: none }
}