<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scientific Articles</title>
    <!-- Add your CSS and JavaScript files or links here -->
</head>
<body>
    <header>
        <!-- Add any site-wide header content, such as a site title or navigation menu -->
    </header>
    <main>
        {% block content %}
            <!-- Content from child templates will be inserted here -->
        {% endblock %}
    </main>
    <footer>
        <!-- Add any site-wide footer content, such as copyright information or contact details -->
    </footer>
</body>
</html>
