<aside class="mobile-hide">
  <a class="button mobile-show">
    Опубликовать статью
  </a>
  <ol>
    <li>Статьи редакции</li>
    <li>Статьи одобренные редакцией</li>
    <li>Песочница</li>
  </ol>
  <div style="flex-grow:1"></div>
  <ol class="links">
    <li><a href="{{url_for('post_get', post_id='POST_ID_ABOUT'|env)}}">О проекте</a></li>
    <li><a href="{{url_for('post_get', post_id='POST_ID_HELP'|env)}}">Справки</a></li>
    <li><a href="{{url_for('post_get', post_id='POST_ID_RULES'|env)}}">Правила</a></li>
    <li><a href="{{url_for('post_get', post_id='POST_ID_SUPPORT'|env)}}">Помощь проекту</a></li>
    <li><a href="{{url_for('post_get', post_id='POST_ID_ADMINS'|env)}}">Администрация</a></li>
    <li class="mobile-show">
      Язык
        <span class="fi fi-ru fis"></span>
    </li>
  </ol>
</aside>