{% import 'components/social-buttons.html' as Social %}
{% macro Comment(id) %}
<div class="comment" id="{{id}}">
  <div class="flex duo">
    <div class="info flex">
      <div>#{{kwargs.get('code', '0000001')}}</div>
      <div title="{{kwargs.get('date','11:36 19.09.2022')}}" class="datetime">{{kwargs.get('date','11:36 19.09.2022')}}</div>
    </div>
    {{ Social.LikesButtons(
      likes=kwargs.get('likes', 0),
      likesActive=kwargs.get('likesActive'),
      dislikes=kwargs.get('dislikes', 0),
      dislikesActive=kwargs.get('dislikesActive'),
    ) }}
  </div>
  <div class="content">
    {{kwargs.get('content', '')|markdown}}
  </div>
  <div class="actions flex">
    <div onclick="document.querySelector('input[name=reply_to]').value = '{{id}}';location='#reply'">Ответить</div>
    <div>Пожаловаться</div>
  </div>
  <div class="comments">
    {% for reply in kwargs.get('comments', []) %}
    <div class="reply">
      {{Comment(id + ':' + (loop.index0|string), **reply)}}
    </div>
    {% endfor %}
  </div>
</div>
{% endmacro %}