{% import 'components/social-buttons.html' as Social %}
{% macro PostPreview(_id, title, photo='', content='Статья ещё не написана', views=0, comments=[], likes=0, dislikes=0) %}
<figure class="post preview" id="{{ _id }}">
  <figcaption>
    {{title}}
  </figcaption>
  <!--{{kwargs.get('html_comment','')}}-->
  {% if photo %}
  <img src="/static/{{photo}}">
  {% endif %}
  <section>
    {{content|markdown}}
  </section>
  <section style="text-align: center;">
    <a class="button" href="/post/{{_id}}">Читать далее...</a>
  </section>
  <section>
    {{ Social.SocialButtons(
      views=views,
      comments=comments|length,
      likes=likes,
      dislikes=dislikes,
    ) }}
  </section>
</figure>
{% endmacro %}