{% macro PostPreview(_id, title, photo, text, views, comments, likes, dislikes) %}
<figure id="post-{{ _id }}">
  <figcaption>
    {{title}}
  </figcaption>
  <img src="{{ url_for('static', filename=photo) }}">
  <section>
    {{text}}
  </section>
  <button>Читать далее...</button>
  <section class="flex">
    <div>
      <button class="basic">
        <img style="margin-top:-7px" src="{{ url_for('static', filename='views.svg') }}">
      </button>
      <span>{{views}}</span>
      <button class="basic">
        <img style="margin-top:-7px" src="{{ url_for('static', filename='comment.svg') }}">
      </button>
      <span>{{comments}}</span>
      <button class="basic">
        <img style="margin-top:-7px" src="{{ url_for('static', filename='repost.svg') }}">
      </button>
    </div>
    <div style="text-align: right;">
      <button class="basic">
        <img style="margin-top:-12px" src="{{ url_for('static', filename='like.svg') }}">
      </button>
      <span>{{likes}}</span>
      <button class="basic">
        <img style="margin-bottom:-9px" src="{{ url_for('static', filename='dislike.svg') }}">
      </button>
      <span>{{dislikes}}</span>
    </div>
  </section>
</figure>
{% endmacro %}