{% import 'components/social-buttons.html' as Social %}
{% from 'components/comments.html' import Comment %}
{% from 'components/comments.html' import ReplyForm %}
{% from 'components/status.html' import Status %}
{% macro Post(
  _id,
  title,
  comments,
  photo='',
  content='Статья ещё не написана',
  views=0,
  likes=0,
  dislikes=0,
  tags=[],
  createdAt=0
) %}
{% set edit_secret = kwargs.get('edit_secret') or 'ADMIN_FAKE_SECRET_' + _id|string %}
{% set editable = edit_secret and edit_secret == request.args.get('edit_secret') %}
<figure class="post" id="{{ _id }}">
  <figcaption>
    {{title}}
  </figcaption>
  <!--{{kwargs.get('html_comment','')}}-->
  {% if editable %}
  <section>
    <div class="highlight">
      <a class="clear" style="float:right;font-size:small" href="?#{{id}}">❌</a>
      <small>Ваша ссылка на редактирование:</small>
      {% set edit_url = url_for('editpost', post_id=_id, edit_secret=edit_secret, _external=True) %}
      <div class="flex" style="align-items:center;font-size:0.7em;">
        <a class="copyable long-link" href="{{edit_url}}">{{edit_url}}</a>
      </div>
    </div>
  </section>
  {% endif %}

  {% if photo %}
  <img src="/static/{{photo}}">
  {% endif %}
  <section>
    {{content|markdown}}
  </section>
  <section class="tags">
    <a class="clear" style="float:right" href="{{url_for('editpost', post_id=_id, edit_secret=edit_secret)}}">✏️</a>
    {% for tag in tags %}
    <a class="clear" href="#">#{{ tag }}</a>
    {% endfor %}
  </section>
  {{ Status('green', 'Одобрено редакцией', createdAt) }}
  <section>
    {{ Social.SocialButtons(
      views=views,
      comments=comments|length,
      likes=likes,
      dislikes=dislikes,
    ) }}
  </section>
  <section>
    {{comments|length}} комментариев
  </section>
  {{ ReplyForm(_id) }}
  <section class="comments">
    {% for comment in comments %}
    {{ Comment(loop.index|string, post_id=_id, **comment) }}
    {% endfor %}
  </section>
</figure>
{% endmacro %}