{% macro ViewsButton(count) %}
<button class="social {{'active' if count }}">
  <img class="views-svg" src="/static/views.svg">
  <span>{{count}}</span>
</button>
{% endmacro %}

{% macro CommentsButton(count) %}
<button class="social {{'active' if count }}">
  <img class="comment-svg" src="/static/comment.svg">
  <span>{{count}}</span>
</button>
{% endmacro %}

{% macro RepostButton(active=False) %}
<button class="social {{'active' if active }}">
  <img class="repost-svg" src="/static/repost.svg">
</button>
{% endmacro %}

{% macro LikesButton(count) %}
<button class="social {{'active' if count }}">
  <img class="like-svg" src="/static/like.svg">
  <span>{{count}}</span>
</button>
{% endmacro %}

{% macro DislikesButton(count) %}
<button class="social {{'active' if count }}">
  <img class="dislike-svg" src="/static/dislike.svg">
  <span>{{count}}</span>
</button>
{% endmacro %}

{% macro SocialButtons(
  views,
  comments,
  likes,
  dislikes
) %}
<div class="flex duo">
  <div>
    {{ ViewsButton(views) }}
    {{ CommentsButton(comments) }}
    {{ RepostButton() }}
  </div>
  <div>
    {{ LikesButton(likes) }}
    {{ DislikesButton(dislikes) }}
  </div>
</div>
{% endmacro %}

{% macro LikesButtons(
  likes,
  dislikes
) %}
<div class="flex">
  {{ LikesButton(likes) }}
  {{ DislikesButton(dislikes) }}
</div>
{% endmacro %}

{% macro Liked(liked=None) %}
<div class="social">
  {% if liked == True %}
  <img class="like-svg" src="/static/like.svg">
  {% elif liked == False %}
  <img class="dislike-svg" src="/static/dislike.svg">
  {% else %}
  {% endif %}
</div>
{% endmacro %}