{% macro ViewsButton(count, active=False) %}
<button class="social {{'active' if active }}">
  <img class="views-svg" src="{{ url_for('static', filename='views.svg') }}">
  <span>{{count}}</span>
</button>
{% endmacro %}

{% macro CommentsButton(count, active=False) %}
<button class="social {{'active' if active }}">
  <img class="comment-svg" src="{{ url_for('static', filename='comment.svg') }}">
  <span>{{count}}</span>
</button>
{% endmacro %}

{% macro RepostButton(active=False) %}
<button class="social {{'active' if active }}">
  <img class="repost-svg" src="{{ url_for('static', filename='repost.svg') }}">
</button>
{% endmacro %}

{% macro LikesButton(count, active=False) %}
<button class="social {{'active' if active }}">
  <img class="like-svg" src="{{ url_for('static', filename='like.svg') }}">
  <span>{{count}}</span>
</button>
{% endmacro %}

{% macro DislikesButton(count, active=False) %}
<button class="social {{'active' if active }}">
  <img class="dislike-svg" src="{{ url_for('static', filename='dislike.svg') }}">
  <span>{{count}}</span>
</button>
{% endmacro %}

{% macro SocialButtons(
  views,
  viewsActive,
  comments,
  commentsActive,
  repostActive,
  likes,
  likesActive,
  dislikes,
  dislikesActive
) %}
<div class="flex duo">
  <div>
    {{ ViewsButton(views, [True, False] | random) }}
    {{ CommentsButton(comments, [True, False] | random) }}
    {{ RepostButton([True, False] | random) }}
  </div>
  <div>
    {{ LikesButton(likes, [True, False] | random) }}
    {{ DislikesButton(dislikes, [True, False] | random) }}
  </div>
</div>
{% endmacro %}

{% macro LikesButtons(
  likes,
  likesActive,
  dislikes,
  dislikesActive
) %}
<div class="flex">
  {{ LikesButton(likes, [True, False] | random) }}
  {{ DislikesButton(dislikes, [True, False] | random) }}
</div>
{% endmacro %}

{% macro Liked(liked=None) %}
<div class="social">
  {% if liked == True %}
  <img class="like-svg" src="{{ url_for('static', filename='like.svg') }}">
  {% elif liked == False %}
  <img class="dislike-svg" src="{{ url_for('static', filename='dislike.svg') }}">
  {% else %}
  {% endif %}
</div>
{% endmacro %}